<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
<link rel="stylesheet" href="../../css/main.css" >
</head>
<body>

	<div class="create-update-form-container">
		<h2>Update Raiting</h2>
    <form th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" method="post">
      <div class="form-group">
        <label for="formGroupExampleInput">Moody's Rating</label>
        <input type="text" name="moodysRating" class="form-control" th:value="${rating.moodysRating}" placeholder="Moody's Rating">
        <div th:if="${moodysRating}">
          <p th:text="${moodysRating}"  style="color: rgb(206, 37, 37)"></p>
        </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Sand&P Rating</label>
        <input type="text" name="sandPRating" class="form-control" th:value="${rating.sandPRating}" placeholder="Sand&P Rating">
        <div th:if="${sandPRating}">
          <p th:text="${sandPRating}"  style="color: rgb(206, 37, 37)"></p>
        </div>
      </div>
      <div class="form-group">
          <label for="formGroupExampleInput2">Fitch Rating</label>
          <input type="text" name="fitchRating" class="form-control" th:value="${rating.fitchRating}" placeholder="Fitch Rating">
          <div th:if="${fitchRating}">
            <p th:text="${fitchRating}"  style="color: rgb(206, 37, 37)"></p>
          </div>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Order Number</label>
        <input type="number" name="orderNumber" class="form-control" th:value="${rating.orderNumber}" placeholder="Order Number">
        <div th:if="${orderNumber}">
          <p th:text="${orderNumber}"  style="color: rgb(206, 37, 37)"></p>
        </div>
    </div>
      <a class="btn btn-danger" href="/rating/list" role="button">Cancel</a>
      <button type="submit" class="btn btn-primary">Update Rating</button>
  </form>
</div>
</body>
</html>