.create-update-form-container {
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
}

.login-div {
    border: solid rgb(133, 133, 133) 1px;
    margin: 38%;
    margin-top: 150px;
    padding: 15px;
    padding-bottom: 50px;
}