<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
<link rel="stylesheet" href="../../css/main.css" >
</head>
<body>
<div class="create-update-form-container">
		<h2>Add New Bid</h2>
    <form th:action="@{/bidList/validate}" th:object="${bList}" method="post">
        <div class="form-group">
          <label for="formGroupExampleInput">Account</label>
          <input type="text" name="account" class="form-control" placeholder="Account">
          <div th:if="${account}">
            <p th:text="${account}"  style="color: rgb(206, 37, 37)"></p>
          </div>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Type</label>
          <input type="text" name="type" class="form-control" placeholder="Type">
          <div th:if="${type}">
            <p th:text="${type}"  style="color: rgb(206, 37, 37)"></p>
          </div>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Bid Quantity</label>
            <input type="number" step="0.01" name="bidQuantity" class="form-control" placeholder="Bid Quantity">
            <div th:if="${bidQuantity}">
              <p th:text="${bidQuantity}"  style="color: rgb(206, 37, 37)"></p>
            </div>
        </div>
        <a class="btn btn-danger" href="/bidList/list" role="button">Cancel</a>
        <button type="submit" class="btn btn-primary">Add BidList</button>
    </form>
</div>
</body>
</html>